/biography.html
/epam.html
/generator.py
/IMAG0420.jpg
/image.css
/image.html
/index.html
/laba4.css
/laba4.html
/link.html
/list_test.py
/Microsoft VS Code
/numbers.txt
/proverb.html
/style.css
/styles.css
/__pycache__